.App {
  display: flex;
  flex-direction: row;
}
.header {
  text-align: center;
  background-color: rgb(15, 15, 41);
  color: white;
  padding: 20px;
  font-family:monospace;
  font-size: 1.5rem;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
input {
  border-radius: 5px;
  font-size: 1rem;
  margin: 10px;
}
button {
  margin: 10px;
  background-color: rgb(15, 15, 41);
  color: white;
  font-size: 1.25rem;
  border-radius: 5px;
  font-family:monospace;
}
.links {
  display: flex;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  padding-bottom: 575px;
  background-color: rgba(15, 15, 41, 0.403);
  color: white;
  font-size: 1.25rem;
  font-family:monospace;
}
a:link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  padding: 10px;
}
.auth {
  display: flex;
  flex-direction: row;
  padding-left: 325px;
}

.sign-up {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-family:monospace;
  border: dotted 4px;
  padding: 20px;
  margin: 10px;

}
.sign-in {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-family:monospace;
  border: dotted 4px;
  padding: 20px;
  margin: 10px;
}
label {
  display: flex;
  flex-direction: column;
}